<!-- {% extends "base.html" %}
{% block content %}

<h2>Available Plans</h2>

<div class="row">

    <div class="col-md-4">
        <div class="card p-3">
            <h4>Free Plan</h4>
            <p>₱0 / month</p>
            <button class="btn btn-secondary">Current</button>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card p-3">
            <h4>Basic Plan</h4>
            <p>₱99 / month</p>
            <a href="/pay/basic" class="btn btn-success">Buy</a>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card p-3">
            <h4>Pro Plan</h4>
            <p>₱199 / month</p>
            <a href="/pay/pro" class="btn btn-warning">Buy</a>
        </div>
    </div>

</div>

{% endblock %} -->